/*
*Nav bar css
*/

nav {
  display: flex;
  height: 3em;
  width: 100%;
  background-color: #4056A1;
  font-family: 'Bungee Shade', cursive;
  font-size: 1.5em;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em;
  z-index: 9;
  position: sticky;
  top: 0em;
}

.write-new {
  display: flex;
  font-size: 0.5em;
  font-family: 'Source Sans Pro', sans-serif;
  flex-direction: column;
  cursor: pointer;
  flex-direction: column-reverse;
}



.write-new i {
  color: crimson;
  align-self: center;
  animation: hithere 1s ease infinite;
  
}
@keyframes hithere {
  30% { transform: scale(1.2); }
  40%, 60% { transform: rotate(-20deg) scale(1.2); }
  50% { transform: rotate(20deg) scale(1.2); }
  70% { transform: rotate(0deg) scale(1.2); }
  100% { transform: scale(1); }
}

@media only screen and (max-width: 599px) {
  nav {
    flex-direction: column;
    justify-content: center;
    gap: 1vh;
  }
}

@media only screen and (min-width: 1024px) {
  nav {
    align-self: flex-start;
  }
  .write-new {
    font-size: 1.2vw;
  }
  .write-new:hover {
    color: crimson;
  }
}