/*
* new-tweet css styles
*/

.new-tweet {
  width: 50%;
  position: fixed;
  top: 30vh;
  border: 5px solid #545149;
  background: #4056A1;
  z-index: 3;
}
.hide {
  display: none;
}

.tweet-text {
  display: flex;
  width: 100%;
  border-style: none;
  border-bottom: 5px solid #545149;
  background-color: rgb(244, 241, 236);
}

.error {
  color:crimson;
  font-size: medium;
  margin-top: 1em;
  display: none;
}

.submit-and-counter {
  display: flex;
  font-family: 'Bungee Shade', cursive;
  justify-content: space-between;
  align-items: baseline;
  margin: 1em;
}

.submit-tweet {
  color: #4056A1;
  background-color: rgb(244, 241, 236);
  border: none;
  font-size: 1em;
  padding: 0.3em;
}

output.counter {
  color: rgb(244, 241, 236)
}

.submit-tweet:hover {
  box-shadow: 3px 3px 3px rgb(44, 131, 223);
}

@media only screen and (max-width: 599px) {
  .new-tweet {
    width: 90vw;
  }
}

@media only screen and (min-width: 1024px) {

  .submit-and-counter {
    font-size: 1.5vw;
  }
}