/*
* Style for existing tweets
* Utilizes .tweet-text in new-tweet.css
*/

article.tweet {
  display: flex;
  margin: 1em;
  height: 90%;
  width: 90%;
  border: 5px solid;
  flex-direction: column;
  align-items: center;
  overflow-wrap: anywhere;
  padding-top: 2%;
  padding-bottom: 2%;
}

article.tweet:hover {
  box-shadow: 3px 3px 3px rgb(44, 131, 223);
}

article.tweet header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0.5em;
  width: 95%
}

article.tweet footer {
  width: inherit;
}

.tweet-feed-photos {
  height: 2em;
  width: 2em;
  margin-right: 1em;
}

.user-handle {
  align-items: flex-end;
  color: lightgray
}

span.tweet-text span {
  margin: 0.5em;
}

.posted-text-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5vw;
  margin: 0.5em
}

.fa-flag:hover {
  color: orange
}

.fa-retweet:hover {
  color: orange;
}

.fa-heart:hover {
  color: orange
}

@media only screen and (max-width: 599px) {
  body {
    font-size: 2vh;
  }
  section {
    width: 100%;
    padding: 0.5vw;
  }
  .posted-text-info {
    font-size: 2vw;
  }
}

@media only screen and (min-width: 1024px) {
  .tweet-feed-photos {
    height: 3em;
    width: 3em;
    margin-right: 1em;
  }
  .posted-text-info {
    font-size: 1vw;
  }
  .tweet-text {
    font-size: 1.5vw;
  }
}